---
layout: default
title: CasperKaae
---







<style type="text/css">


.about {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 16px;

}

.about img {
    margin-right: 15px;
    display:inline-block;
    width: 200px;
}

.about p {
    display:inline-block;
  	vertical-align:top;
    width:60%;
    margin: 0;
    padding: 0;
}

.about a:hover {
	color: #666;
}


.publication {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
}

.publication img {
    margin-right: 15px;
    display:inline-block;
    width:80px;
    clear:left;
    display:inline-block;
  	vertical-align:top;
}

.publication p {
    display:inline-block;
    width:79%;
    font-size: 13px;
  	vertical-align:top;
    margin: 0;
    padding: 0;
}


</style>

<h3>About</h3>

<div class="about">
    <img src="https://scholar.google.dk/citations?view_op=medium_photo&user=yzGdbKoAAAAJ&citpid=1" />
    <p>I am a PhD student at the University of Copenhagen supervised by professor <a href='http://cogsys.imm.dtu.dk/staff/winther/'>Ole Winther</a>. I'm currently visiting DeepMind technologies in London. Previously I have been at a research stay with Twitter Cortex VX in London. I'm interested in Bayesian inference, Variational inference and Deep Learning in general.</p>
</div>​




<a class="link" href="mailto:casperkaae@gmail.com" style="color: white; background: #4daf4a;">casperkaae@gmail.com</a>
<a class="link" href="https://scholar.google.dk/citations?user=yzGdbKoAAAAJ&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
<a class="link" href="https://docs.google.com/document/d/1dxBLg7XrOXiaV5JBzy8Vgs3GJb0csqHvmQ_BFKYa9ls/edit?usp=sharing" style="color: white; background: #984ea3;">CV</a>
<a class="link" href="https://github.com/casperkaae" style="color: white; background: #0E53A7;">GitHub</a>
<a class="link" href="https://www.linkedin.com/in/casper-kaae-s%C3%B8nderby-5b15a744?trk=hp-identity-name" style="color: white; background: #999999;">LinkedIn</a>
<a class="link" href="https://twitter.com/CasperKaae" style="color: white; background: #4099FF;">Twitter</a>




<hr>

<h3>Publications</h3>
<a id="publications"></a>



  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="publication">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/media/dummywhite.jpg" />
		{% endif %}

   	<p>
	    <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
	    <br>
		{{ publication.author }}
		<br>
		{{ publication.journal }},  {{ publication.year }}<br>

		{% if publication.pdf %}
	  			<a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
		{% endif %}

		{% if publication.link %}
	  			<a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
		{% endif %}

		{% if publication.bibtex %}
	  			<a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
		{% endif %}

		{% if publication.code %}
	  			<a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
		{% endif %}

		{% if publication.website %}
	  			<a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
		{% endif %}

    {% if publication.blog %}
          <a class="link" href={{publication.blog}}  style="color: white;background: #d94801">Blog</a>
    {% endif %}


 	</p>
 	</div>​
  {% endif %}
{% endfor %}

<hr>
<a id="teaching"></a>
<h3>Teaching</h3>

Below you can find some of the material I used for courses and workshops where I have teached.


<br>
<br>

<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>     
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/02456-deep-learning >DTU course 02456 Deep learning</b></a><br>
        Programming Exercises (Theano/Lasagne) for the Deep Learning Graduate Course at the Technical University of Denmark running in the Fall of 2016
        <br>
        <a class="link" href=https://github.com/DeepLearningDTU/02456-deep-learning  style="color: white;background: #0E53A7">Code</a>
    </p>
</div>​



<div class="publication">
    <img src="/media/nvidia_logo.jpg" />
    <p>     
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/nvidia_deep_learning_summercamp_2016 >Nvidia Deep Learning Summercamp 2016</b></a><br>
              Programming Exercises (Theano/Lasagne) for the 2016 Nvidia Deep Learning Summercamp in London.
              <br>
        <a class="link" href=https://github.com/DeepLearningDTU/nvidia_deep_learning_summercamp_2016  style="color: white;background: #0E53A7">Code</a>
    </p>
</div>​

<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>     
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/Summerschool_2015 >Deep Learning DTU summer school 2015</b></a><br>
              Programming Exercises (Theano/Lasagne) for the 2015 Deep Learning Summer school at the Technical University of Denmark. Exercises for low level implementation of a ConvNet in Numpy and high level Theano/Lasagne exercises. 
              <br>
        <a class="link" href=https://github.com/DeepLearningDTU/Summerschool_2015  style="color: white;background: #0E53A7">Code</a>
    </p>
</div>​
<hr>
