body {
	font-family: "runda", "Hiragino Sans GB", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	padding: 20px;
	color: #222;
	background: white;
	padding: 0px;
	margin: 0px;
}

#main {
	position: absolute;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	background: white;
	padding: 30px 10px 10px;
}

img {
	border: 0px;
}

i.fa {
	font-size: 12pt;
	margin-left: 10pt;
}

b {
	font-weight: 500;
}

h1 {
	font-family: "runda", "Hiragino Sans GB", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 20pt;
	font-weight: 400;
	line-height: 24pt;
	margin: 0pt;
	padding: 0px;
	color: #aaa;
}

h2 {
	font-family: "runda", "Hiragino Sans GB", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	color: black;
	margin-top: 24pt;
}

a {
	text-decoration: none;
	color: #222;
}

.text a {
	border-bottom: 1px dashed #888;
}

.text a:hover {
	border-bottom: 0px;
}

.special_links {
	vertical-align: middle;
	float: right;
	text-align: right;
}

.special_links a {
	line-height: 24pt;
	vertical-align: middle;
}

a.author, a.title {
	color: black;
}

a.keyword {
	color: #999;
}

a.link {
	color: #fff;
	opacity: 0.7;
	background: #666;
	padding: 2px 4px;
	font-size: 9pt;
	line-height: 18pt;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

a.link:hover {
	opacity: 1;
}

a.link_url, a.link_doi, a.link_isbn, a.link_custom {
	background: #00A779;
}

a.link_pdf, a.link_file {
	background: #FF9C00;
}

a.link_code {
	background: #0E53A7;
}

hr {
	border: 0px;
	border-top: 1px solid #ddd;
	margin: 5px 0px 15px;
	height: 0px;
	padding: 0px;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
